<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Star Runner Lite</title>
  <style>
    body {
      margin: 0;
      background: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      overflow: hidden;
    }
    canvas {
      border: 2px solid #444;
      image-rendering: pixelated;
      image-rendering: crisp-edges;

    }
  </style>
</head>
<body>
  <script type="module" src="GameView.js"></script>
</body>
</html>
